/* || FONT */
 
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
 
/* || RESETS */
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

/* || VARIABLES */
:root{
    --LOWER-BGLEFT-CLR: hsl(179, 62%, 43%);
    --LOWER-BGRIGHT-CLR: hsl(179, 55%, 50%);
    --HIGHLIGHT-CLR: hsl(71, 73%, 54%);
    --GRAY: hsl(204, 43%, 93%);
    --GRAYISH-BLUE: hsl(218, 22%, 67%);
    --PADDING: 2rem;
}

/* || STYLES */
body{
    display:grid;
    place-content:center;
    min-height:100svh;
    background:var(--GRAY);
    font-family:'Karla', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    box-shadow: 0 5px 20px 8px rgba(0, 0, 0, 0.1);
    display:grid;
    place-content:center;
    border-radius:8px;
    overflow: hidden;
    margin:1rem;
}

.top{
    display:grid;
    place-content:center;
    gap:1.5rem;
    padding:var(--PADDING);
    background-color:#fff;
}

.heading{
    color:var(--LOWER-BGLEFT-CLR);
    font-size:1.25rem;
    font-weight:700;
}

.top .second{
    display:grid;
    place-content:center;
    gap:0.45rem;
}

.sub-heading{
    color:var(--HIGHLIGHT-CLR);
    font-size:16px;
    font-weight:700;
}

.note{
    color:var(--GRAYISH-BLUE);
    font-size:16px;
    font-weight:400;
    line-height:1.5;
}

.middle{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    gap:1rem;
    padding:var(--PADDING);
    background:var(--LOWER-BGLEFT-CLR);
    text-align:left
}

.middle h3{
    color:var(--GRAY);
    font-size:16px;
    font-weight:700;
    width:100%;
}

.month{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    gap:0.25rem;
    width:100%;
}

.month .price{
    display:flex;
    gap:0.75rem;
    justify-content: flex-start;
    align-items:center;
}

.month .price h2{
    color:#fff;
    font-size:2rem;
    font-weight:700;
}

.month .price span{
    color: hsl(204, 43%, 93%, 0.5);
    font-size:16px;
    font-weight:400;
}

.month .option{
    color:hsl(204, 43%, 93%, 0.95);
    font-size:16px;
    font-weight:400;
}

.middle .sign-up{
    padding:0.5rem;
    background:var(--HIGHLIGHT-CLR);
    color:var(--GRAY);
    font-size:16px;
    font-weight:700;
    border:none;
    outline:none;
    border-radius:5px;
    box-shadow:  0 10px 20px 5px rgba(0, 0, 0, 0.1);
    width:100%;
}

.bottom{  
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    gap:1rem;
    padding:var(--PADDING);
    text-align:left;
    background:var(--LOWER-BGRIGHT-CLR);
}

.bottom h3{
    color:var(--GRAY);
    font-size:16px;
    font-weight:700;
    width:100%;
}

.bottom P{
    color: hsl(204, 43%, 93%, 0.65);
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    width:100%;
}

@media screen and (min-width:500px){
    .main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "top top"
        "left right";
        max-width:38rem;
    }

    .top{
        grid-area:top;
    }

    .middle{
        grid-area:left;
    }

    .bottom{
        grid-area:right;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }